<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<!-- 
HEAD  
-->
<head>
	<meta charset="utf-8" />
	<script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
	<script src="/webjars/jquery/2.1.4/jquery.js"></script>
	<link rel="stylesheet" href="/css/mainST.css" />
</head>
<!-- 
/HEAD  
-->
<!-- 
BODY  
-->
<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
	<div id="bodyContainer">
		<div id="header"></div>
		<div id="body">



			<div class="panel panel-default">
				<div class="panel-heading">
					<center>
					<span style="font-size:12; font-weight:bold; color:black">Zostałeś zalogowany do Panelu administracyjnego o identyfikatorze użytkownika: </span>
					
					<span style="font-weight:bold; color:red" th:text="${session.username}"></span>
					
					<form th:action="@{/logout}" method="post">
						<input type="submit" class="btn btn-info text-center center-block"
							value="Wyloguj" />
					</form></center>
				</div>
				<div class="panel-body">

					<div class="container-fluid">
						<div class="row">
							<nav class="col-sm-1" id="myScrollspy">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#section1">Section 1</a></li>
								</ul>
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#section2">Section 2</a></li> 
								</ul>
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#section3">Section 3</a></li> 
								</ul>
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#section4">Section 4</a></li> 
								</ul>
							</nav>
							<div class="col-sm-9" >
								<div id="section1">
									<h1>Section 1</h1>
									<p>Try to scroll this page and look at the navigation listTry to scroll this page and look at the navigation listTry to scroll this page and look at the navigation listTry to scroll this page and look at the navigation listTry to scroll this page and look at the navigation list
										while scrolling!</p>
								</div>
								<div id="section2">
									<h1>Section 2</h1>
									<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
										<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
									<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
										<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
										<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
										<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
								</div>
								<div id="section3">
									<h1>Section 3</h1>
									<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
										<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
										<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
										<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
									<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
										<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
										<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
										<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
									<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
										<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
										<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
										<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
								</div>
								<div id="section4">
									<h1>Section 4</h1>
									<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
										<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
										<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
										<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
									<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
										<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
										<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
										<p>Try to scroll this page and look at the navigation list
										while scrolling!</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>




		</div>
		<div id="footer"></div>
	</div>
</body>
<!-- 
/BODY  
-->
<script>
	$(function() {
		$("#header").load("/core/header/header.html");

	});
</script>
<script>
	$(function() {
		$("#footer").load("/core/footer/footer.html");

	});
</script>
</html>