<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<!-- 
HEAD  
-->
<head>
	<meta charset="utf-8" />
	<script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
	<script src="/webjars/jquery/2.1.4/jquery.js"></script>
	<link rel="stylesheet" href="/css/mainST.css" />
</head>
<!-- 
/HEAD  
-->
<!-- 
BODY  
-->
<body>
	<div id="bodyContainer">
	   <div id="header"></div>
	   <div id="body">
	   		<div class="panel panel-primary">
				<div class="panel-heading">
					<span style="font-size: 12; font-weight: bold; color: black">
						Zostałeś zalogowany do Panelu studenckiego o identyfikatorze
						użytkownika: </span> <span style="font-weight: bold; color: #cc0000"
						th:text="${session.username}"></span>

					<form th:action="@{/logout}" method="post">
						<input type="submit" class="btn btn-default pull-right"
							value="Wyloguj" />
					</form>
					<div class="clearfix"></div>
				</div>
				<div class="panel-body">
					<ul class="nav nav-tabs">
						<li class="active"><a href="/student/index.html">Strona
								Główna</a></li>
						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#">Zarządzaj kontem<span
								class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/student/changepwd.html">Zmień hasło</a></li>
							</ul></li>
						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#">Indeks<span
								class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/student/studentindex.html">Indeks studencki</a></li>
							</ul></li>
							<li><a href="http://www.uz.zgora.pl">Strona
								uczelni</a></li>
						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#">Wydziały<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="http://www.wa.uz.zgora.pl/">Wydział
										Artystyczny</a></li>
								<li><a href="http://www.wbais.uz.zgora.pl/">Wydział
										Budownictwa, Architektury i Inżynierii Środowiska</a></li>
								<li><a href="http://www.wez.uz.zgora.pl/">Wydział
										Ekonomii i Zarządzania</a></li>
								<li><a href="http://www.wfa.uz.zgora.pl/">Wydział
										Fizyki i Astronomii</a></li>
								<li><a href="http://www.wh.uz.zgora.pl/">Wydział
										Humanistyczny</a></li>
								<li><a href="https://www.wiea.uz.zgora.pl/">Wydział
										Informatyki, Elektrotechniki i Automatyki</a></li>
								<li><a href="https://wlnz.uz.zgora.pl/">Wydział
										Lekarski i Nauk o Zdrowiu</a></li>
								<li><a href="http://www.wmie.uz.zgora.pl/">Wydział
										Matematyki, Informatyki i Ekonometrii</a></li>
								<li><a href="http://www.wm.uz.zgora.pl/">Wydział
										Mechaniczny</a></li>
								<li><a href="http://www.wnb.uz.zgora.pl/">Wydział Nauk
										Biologicznych</a></li>
								<li><a href="http://www.wpps.uz.zgora.pl/">Wydział
										Pedagogiki, Psychologii i Socjologii</a></li>
								<li><a href="http://www.wpa.uz.zgora.pl/">Wydział Prawa
										i Administracji</a></li>
							</ul></li>
						<li><a href="http://plan.uz.zgora.pl/">Plan
								zajec</a></li>
					</ul>
				</div>
				<div class="jumbotron">
					<form action="#" th:action="@{/changepwd}" th:object="${userform}" method="post">
						<div class="alert alert-success" th:if="${param.success}">
							<center>
								<strong>Operacja zakończona sukcesem!</strong> <span
									style="font-size: 12; font-weight: bold; color: orange">
									<br />Hasło zostało pomyślnie zmienione!
								</span>
							</center>
						</div>
						<div class="alert alert-danger" th:if="${param.error}">
							<center>
								<strong>Operacja nie powiodła się!</strong> <span
									style="font-size: 12; font-weight: bold; color: orange">
									<br />Coś poszło nie tak, upewnij się, że podałeś właściwe
									dane!
								</span>
							</center>
						</div>
						
						
							<div class="col-xs-3">
								
								<label for="password">Nowe hasło:</label> <input class="form-control"
									name="password" id="password" type="password" th:field="*{password}" /> <br /> <input
									type="submit" class="btn btn-info" value="Zmień hasło" />
								
							</div>
						
					</form>
					<br /><br /><br /><br /><br /><br />
					<ul class="pager">
						<li class="previous"><a href="/student/index.html">Wróć</a></li>
					</ul>
				</div>
			</div>
		</div>
	   <div id="footer"></div>
	</div>
</body>
<!-- 
/BODY  
-->
<script>
	$(function() {
		$("#header").load("/core/header/header.html");

	});
</script>
<script>
	$(function() {
		$("#footer").load("/core/footer/footer.html");

	});
</script>
</html>