<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<!-- 
HEAD  
-->
<head>
	<meta charset="utf-8" />
	<script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
	<script src="/webjars/jquery/2.1.4/jquery.js"></script>
	<link rel="stylesheet" href="/css/mainST.css" />
</head>
<!-- 
/HEAD  
-->
<!-- 
BODY  
-->
<body>
	<div id="bodyContainer">
	   <div id="header"></div>
	   <div id="body">
			<div class="panel panel-default">
				<div class="panel-heading">
					<center>
					<span style="font-size:12; font-weight:bold; color:black">Zostałeś zalogowany do Panelu studenckiego o identyfikatorze użytkownika: </span>
					
					<span style="font-weight:bold; color:red" th:text="${session.username}"></span>
					
					<form th:action="@{/logout}" method="post">
						<input type="submit" class="btn btn-info text-center center-block"
							value="Wyloguj" />
					</form></center>
				</div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">Informacje o prowadzącym !</div>
			<div class="panel-body">
			
				<table class="table">
					<tbody th:each="teacher : ${teacher.findById(param.teacherid[0])}">
						<tr>
							<td>Ocene wystawił: </td>
							<td th:text="${teacher.getDetails().title.name}  + ' ' + ${teacher.getDetails().firstName} + ' ' + ${teacher.getDetails().lastName}"></td>
						</tr>
						<tr>
							<td>Numer telefonu: </td>
							<td th:text="${teacher.getDetails().phoneNumber}"></td>
						</tr>
						<tr>
							<td>Wydział: </td>
							<td th:text="${teacher.getDetails().department.getDetails().departmentFullName}"></td>
						</tr>
						<tr>
							<td>Instytut: </td>
							<td th:text="${teacher.getDetails().institute.getDetails().instituteFullName}"></td>
						</tr>
						<tr>
							<td>Pokój: </td>
							<td th:text="${teacher.getDetails().room}"></td>
						</tr>
						<tr>
							<td>Strona internetowa: </td>
							<td th:text="${teacher.getDetails().website}"></td>
						</tr>
					</tbody>
				</table>
			
			</div>
			
			
			
			
		</div>
	   <div id="footer"></div>
	</div>
</body>
<!-- 
/BODY  
-->
<script>
	$(function() {
		$("#header").load("/core/header/header.html");

	});
</script>
<script>
	$(function() {
		$("#footer").load("/core/footer/footer.html");

	});
</script>
</html>