<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<!-- 
HEAD  
-->
<head>
	<meta charset="utf-8" />
	<script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
	<script src="/webjars/jquery/2.1.4/jquery.js"></script>
	<link rel="stylesheet" href="/css/mainST.css" />
</head>
<!-- 
/HEAD  
-->
<!-- 
BODY  
-->
<body>
	<div id="bodyContainer">
	   <div id="header"></div>
	   <div id="body">
			<div class="panel panel-default">
				<div class="panel-heading">
					<center>
					<span style="font-size:12; font-weight:bold; color:black">Zostałeś zalogowany do Panelu studenckiego o identyfikatorze użytkownika: </span>
					
					<span style="font-weight:bold; color:red" th:text="${session.username}"></span>
					
					<form th:action="@{/logout}" method="post">
						<input type="submit" class="btn btn-info text-center center-block"
							value="Wyloguj" />
					</form></center>
				</div>
			</div>
			<a href="/teacher/index.html" class="btn btn-primary">Wróć</a> 
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">Wybierz wydział i kierunek</div>
			<div class="panel-body">

				<form action="#" th:action="@{/deptsfields}" th:object="${field}" method="post">
					<table>

						<tr>

							<th>Wydział</th>

							<th>Kierunek</th>

						</tr>

						<tr th:each="entry : ${deptsfields}">

							<td th:text="${entry.getKey().details.departmentFullName}"
								th:value="${entry.getKey().details.departmentFullName}"></td>

							<td><select id="fieldslist" class="form-control"
								th:field="*{details.fieldOfStudyName}">
									<option selected="selected" value="">Wybierz...</option>
									<option th:each="field : ${entry.getValue()}"
										th:value="${field.details.fieldOfStudyName}"
										th:text="${field.details.fieldOfStudyName}"></option>
							</select></td>

						</tr>
					</table>
					
					<input type="submit" class="btn btn-info text-center center-block" value="Dalej..." />
				</form>



			</div>
			
			
			
			
		</div>
	   <div id="footer"></div>
	</div>
</body>
<!-- 
/BODY  
-->
<script>
	$(function() {
		$("#header").load("/core/header/header.html");

	});
</script>
<script>
	$(function() {
		$("#footer").load("/core/footer/footer.html");

	});
</script>
</html>