<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<!-- 
HEAD  
-->
<head>
	<meta charset="utf-8" />
	<script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
	<script src="/webjars/jquery/2.1.4/jquery.js"></script>
	<link rel="stylesheet" href="/css/mainST.css" />
</head>
<!-- 
/HEAD  
-->
<!-- 
BODY  
-->
<body>
	<div id="bodyContainer">
	   <div id="header"></div>
	   <div id="body">
			<div class="panel panel-default">
				<div class="panel-heading">
					<center>
					<span style="font-size:12; font-weight:bold; color:black">Zostałeś zalogowany do Panelu studenckiego o identyfikatorze użytkownika: </span>
					
					<span style="font-weight:bold; color:red" th:text="${session.username}"></span>
					
					<form th:action="@{/logout}" method="post">
						<input type="submit" class="btn btn-info text-center center-block"
							value="Wyloguj" />
					</form></center>
				</div>
			</div>
			<a href="/teacher/index.html" class="btn btn-primary">Wróć</a> 
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">Studenci i ich oceny</div>
			<div class="panel-body">



				<table class="table">
					<tbody
						th:each="student : ${studentService.findAllByGroupId(param.group[0])}">
						<tr>
							<td>
								<span style="font-weight: bold; color: green" th:text="${student.getDetails().firstName} + ' ' + ${student.getDetails().lastName}"></span>
							</td>					
							<td>
								<a th:href="@{/teacher/grading(student=${student.getDetails().id}, course=${param.course[0]})}" class="btn btn-primary">Wystaw ocene</a>
							</td>						
							<td th:each="grade : ${gradeService.findByStudentIdAndCourseIdAndTeacherIdAndGradeType(param.course[0], student.getDetails().id, session.id, T(core.study.details.GradeType).NORMAL.name)}">
								<a th:href="@{/teacher/grade(gradeid=${grade.getDetails().id})}"><span class="text-left" style="font-weight:bold; color:orange" th:text="${grade.getDetails().value}"></span></a> 								
							</td>
							<td th:each="grade : ${gradeService.findByStudentIdAndCourseIdAndTeacherIdAndGradeType(param.course[0], student.getDetails().id, session.id, T(core.study.details.GradeType).SEMESTRAL.name)}">
								<a th:href="@{/teacher/grade(gradeid=${grade.getDetails().id})}"><span class="text-left" style="font-weight:bold; color:red" th:text="${grade.getDetails().value}"></span></a> 								
							</td>	
						</tr>
					</tbody>
				</table>





			</div>
			
			
			
			
		</div>
	   <div id="footer"></div>
	</div>
</body>
<!-- 
/BODY  
-->
<script>
	$(function() {
		$("#header").load("/core/header/header.html");

	});
</script>
<script>
	$(function() {
		$("#footer").load("/core/footer/footer.html");

	});
</script>
</html>