<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<!-- 
HEAD  
-->
<head>
	<meta charset="utf-8" />
	<script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
	<script src="/webjars/jquery/2.1.4/jquery.js"></script>
	<link rel="stylesheet" href="/css/mainST.css" />
</head>
<!-- 
/HEAD  
-->
<!-- 
BODY  
-->
<body>
	<div id="bodyContainer">
	   <div id="header"></div>
	   <div id="body">
			<div class="panel panel-default">
				<div class="panel-heading">
					<center>
					<span style="font-size:12; font-weight:bold; color:black">Zostałeś zalogowany do Panelu studenckiego o identyfikatorze użytkownika: </span>
					
					<span style="font-weight:bold; color:red" th:text="${session.username}"></span>
					
					<form th:action="@{/logout}" method="post">
						<input type="submit" class="btn btn-info text-center center-block"
							value="Wyloguj" />
					</form></center>
				</div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">Informacje o ocenie !</div>
			<div class="panel-body">
			
				<table class="table">
					<tbody th:each="grade : ${grade.findGrade(param.gradeid[0])}">
						<tr>
							<td>Przedmiot: </td>
							<td th:text="${grade.getDetails().course.getDetails().courseName}  + ' - ' + ${grade.getDetails().course.getDetails().courseForm.name}"></td>
						</tr>
						<tr>
							<td>Student: </td>
							<td><a th:href="@{/teacher/student(studentid=${grade.getDetails().student.getDetails().id})}" th:text="${grade.getDetails().student.getDetails().firstName} + ' ' + ${grade.getDetails().student.getDetails().lastName}"></a> 								
							</td>
						</tr>					
						<tr>
							<td>Ocena: </td>
							<td th:text="${grade.getDetails().value}"></td>
						</tr>			
						<tr>
							<td>Rodzaj oceny: </td>
							<td th:text="${grade.getDetails().gradeType.name}"></td>
						</tr>		
						<tr>
							<td>Informacje: </td>
							<td th:text="${grade.getDetails().description}"></td>
						</tr>	
						<tr>
							<td><a th:href="@{/teacher/editgrade(student=${grade.getDetails().student.getDetails().id}, course=${grade.getDetails().course.getDetails().id}, grade=${param.gradeid[0]})}" class="btn btn-primary">Edytuj ocene</a></td>
						</tr>
					</tbody>
				</table>
			
							
			</div>
			
			
			
			
		</div>
	   <div id="footer"></div>
	</div>
</body>
<!-- 
/BODY  
-->
<script>
	$(function() {
		$("#header").load("/core/header/header.html");

	});
</script>
<script>
	$(function() {
		$("#footer").load("/core/footer/footer.html");

	});
</script>
</html>