<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<!-- 
HEAD  
-->
<head>
	<meta charset="utf-8" />
	<script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
	<script src="/webjars/jquery/2.1.4/jquery.js"></script>
	<link rel="stylesheet" href="/css/mainST.css" />
</head>
<!-- 
/HEAD  
-->
<!-- 
BODY  
-->
<body>
	<div id="bodyContainer">
	   <div id="header"></div>
	   <div id="body">
			<div class="panel panel-default">
				<div class="panel-heading">
					<center>
					<span style="font-size:12; font-weight:bold; color:black">Zostałeś zalogowany do Panelu studenckiego o identyfikatorze użytkownika: </span>
					
					<span style="font-weight:bold; color:red" th:text="${session.username}"></span>
					
					<form th:action="@{/logout}" method="post">
						<input type="submit" class="btn btn-info text-center center-block"
							value="Wyloguj" />
					</form></center>
				</div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">Wystaw ocene !</div>
			<div class="panel-body">
			
				<form action="#" th:action="@{/grading}" th:object="${gradeform}" method="post">
					<!-- -->
					<div class="panel-body">
						<div th:if="${param.success}">
							<center>
								<span style="font-size: 12; font-weight: bold; color: orange">Ocena
									dodana!</span>
							</center>
						</div>
						<div th:if="${param.error}">
							<center>
								<span style="font-size: 12; font-weight: bold; color: orange">Coś
									poszło nie tak, upewnij się, że podałeś właściwe dane!</span>
							</center>
						</div>
						<!-- -->
						<div>


							<div class="col-xs-3">
								<label for="fullName">Ocena:</label> 
								<select id="fieldslist" class="form-control"
									th:field="*{details.value}">
									<option selected="selected" value="">Wybierz...</option>
									<option th:each="grade : ${T(core.study.details.Grades).values()}"
										th:value="${grade.value}"
										th:text="${grade.value}"></option>
								</select>
							</div>
							<div class="col-xs-3">
								<label for="fullName">Typ oceny:</label>
								<select id="fieldslist" class="form-control"
									th:field="*{details.gradeType}">
									<option selected="selected" value="">Wybierz...</option>
									<option th:each="grade : ${T(core.study.details.GradeType).values()}"
										th:value="${grade}"
										th:text="${grade.name}"></option>
								</select>
							</div>


							<div class="col-xs-3">
								<label for="fullName">Informacje:</label> 
								<textarea maxlength="150" th:field="*{details.description}" class="form-control" id="exampleTextarea" rows="3"></textarea>
							</div>
												
							
							
							
							<input type="hidden" name="std" th:field="*{details.student.details.id}" th:value="${param.student[0]}" />
							<input type="hidden" name="std" th:field="*{details.course.details.id}" th:value="${param.course[0]}" />

						</div>
						<!-- -->
						<br /> <br />
					</div>
					<!-- -->
					<input type="submit" class="btn btn-info text-center center-block" value="Dodaj" />
				</form>
			
			</div>
			
			
			
			
		</div>
	   <div id="footer"></div>
	</div>
</body>
<!-- 
/BODY  
-->
<script>
	$(function() {
		$("#header").load("/core/header/header.html");

	});
</script>
<script>
	$(function() {
		$("#footer").load("/core/footer/footer.html");

	});
</script>
</html>